---
---


header {
  width:130px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

img {
  max-width:100%;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

@import "{{ site.theme }}";

header {
  width:130px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

img {
  max-width:100%;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}
