---
---

.wrapper {
  width:1010px;
  margin:0 auto;
}

header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

img {
  max-width:100%;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@import "{{ site.theme }}";

.wrapper {
  width:1010px;
  margin:0 auto;
}

header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

img {
  max-width:100%;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}
